@import '../../../../styles/config';

.containerModalPlate {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0px;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	background-color: rgba(138, 138, 138, 0.3);
	z-index: 3;
}

.modalPlate {
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0.5rem 0px;
	gap: 0.5rem;
	font-size: 0.9rem;
	border-radius: 0.25rem;
	padding: 0.8rem;
	background-color: $color-primary;
}

.title {
	text-align: center;
	font-size: 0.9rem;
	font-weight: bold;
	color: $color-secondary
}

.quantity {
	text-align: center;
	font-size: 0.8rem;
	color: $color-secondary
}

.delete {
	font-size: 1.5rem;
	color: $color-terciary; 
}



.edit, .bell {
	text-align: center;
}

.bell {
	margin-top: 0.25rem;
	color: $color-secondary;
	font-size: 1.25rem;
	margin-bottom: -0.25rem;
}

.edit {
	color: $color-four;
	font-size: 0.8rem;
}



.containerAdd, .containerSubstract  {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $color-primary;
	padding: 0.5rem;
	cursor: pointer;
	color: $color-five;
	font-size: 1.5rem;
	gap: 0.5rem;
}

.containerAdd {
	color: $color-five;
}

.containerSubstract {
	color: $color-terciary;
}

