@import '../../../../styles/config';

.buttonGral {
  display: flex;
  width: 6rem;
  justify-content: center;
  align-items: center;
  height: 1rem;
  border-radius: 0.4rem;
  padding: 1rem;
  font-size: 0.8rem;
  cursor: pointer;
  text-decoration: none;
  border: solid 1px $color-secondary;
}


  .selected  {
  background-color: $color-secondary;
}

 .notSelected  {
  background-color: #202020;
  color: $color-secondary
}
