@import '../../../../styles/config';

.buttonGral {
  display: flex;
  width: 6rem;
  justify-content: center;
  align-items: center;
  height: 2rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 0.8rem;
  cursor: pointer;
  text-decoration: none;
}


  .selected  {
  background-color: $color-secondary;
  border: solid 1px $color-secondary
}

 .notSelected  {
  background-color: #202020;
  border: solid 1px  $color-secondary;
  color: $color-secondary
}
