@import '../../../../styles/config';

.containerMainBrand {
    width: 5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.mainBrand {
    width: 100%;

}

.iconOrder {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4rem;
    width: 1.5rem;
    height: 1.5rem;
    color: $color-primary;
    background-color: $color-secondary;
}