@import '../../../../styles/utils';

.container {
	background-color: #ebebeb;
	width: 100%;
	padding: 1.5rem;
	border-radius: 8px;
}

.titleOrderUnconfirmed {
	@include title;
	margin-bottom: 1rem;
}

.confirm {
	width: 100%;
	background-color: $color-five;
	color: $color-primary;
	border: none;
	padding: 1rem;
	font-weight: bold;
	margin-top: 1rem;
}

.confirm:hover {
	cursor: pointer;
}

