@import '../../../../styles/config';

.required {
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
	height: 70%;
}

.link {
	text-decoration: none;
	color: $color-secondary;
	font-size: 1.4rem;
}

.quantity {
	background-color: $color-primary;
	color: $color-terciary;
	border-radius: 2.6rem;
	width: 1.2rem;
	height: 1.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	font-weight: 700;
}
